@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
.title{
  display: flex;
  justify-content: center;

}
.red{
  color: red;
  font-size: 70px;
  font-family: 'Roboto', sans-serif;
}